# Package Files #
*.war
*.ear

# IntelliJ #
.idea
*.iml

# generated output #
out
classes
target

# application specific #
*.db
spring.properties
.sass-cache

# css and map files, since we use sass #
*.css*

.DS_Store